#indice .units ul li.active a.js-tema,body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover.js-tema {
    color: #fff;
    border-left: 16px solid #fff!important
}

#indice .units ul li a:not(.delete) {
    padding: 20px 10px
}

#indice .units ul li a .title {
    font-size: 22px;
    line-height: 28px
}

#indice .units ul li {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    padding: 0;
    -moz-transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
    border: 3px solid #85bc40
}

#list-units {
    border-color: #85bc40!important
}

#indice .units ul li.active:not(.disabled),#indice .units ul li:focus:not(.disabled),body:not(.isTablet) #indice .units ul li:hover:not(.disabled) {
    background: #85bc40
}

#list-units .unittag_santillanaportugalmates {
    border-color: #0086c0!important
}

#list-units .unittag_santillanaportugalmates.active:not(.disabled),#list-units .unittag_santillanaportugalmates:hover {
    background: #0086c0!important
}

#list-units .unittag_santillanaportugalportugues {
    border-color: #ca041a!important
}

#list-units .unittag_santillanaportugalportugues.active:not(.disabled),#list-units .unittag_santillanaportugalportugues:hover {
    background: #ca041a!important
}

#list-units .unittag_santillanaportugalhistoria {
    border-color: #ed7e33!important
}

#list-units .unittag_santillanaportugalhistoria.active:not(.disabled),#list-units .unittag_santillanaportugalhistoria:hover {
    background: #ed7e33!important
}

#list-units .unittag_santillanaportugalfyq {
    border-color: #5ebdc4!important
}

#list-units .unittag_santillanaportugalfyq.active:not(.disabled),#list-units .unittag_santillanaportugalfyq:hover {
    background: #5ebdc4!important
}

#indice .unit-content .header .title {
    background: rgba(0,0,0,.55);
    height: fit-content;
    height: -moz-fit-content;
    margin-left: -8px;
    padding: 9px 9px 9px 35px
}

body.content_type_curso_SANPTprovisional {
    font-size: 1.8rem;
    font-family: Source Sans Pro,sans-serif
}

body.content_type_curso_SANPTprovisional #actividad .content img {
    padding: 5px
}

.is_app.content_type_curso_SANPTprovisional {
    padding-top: 0
}

.content_type_curso_SANPTprovisional #actividad {
    margin-bottom: 0;
    -webkit-transform: none;
    -webkit-transform-style: flat
}

#actividad .carousel-inner .item-container {
    background-image: none;
    margin: 20px auto 30px;
    padding: 0 0 90px;
    position: relative
}

.content_type_curso_SANPTprovisional #actividad .slide-concatenate {
    margin-top: 30px
}

.content_type_curso_SANPTprovisional #actividad .content .header .chapter,.content_type_curso_SANPTprovisional #actividad .content .header .title img {
    display: none
}

#indice .unit-content .header .number,#indice .units ul li a .number {
    visibility: hidden
}

.content_type_curso_SANPTprovisional #actividad .content .header {
    border: none;
    margin-bottom: 0
}

.content_type_curso_SANPTprovisional #actividad .content .header .title {
    margin: -40px 0 20px;
    background: #44913a;
    background: -moz-linear-gradient(180deg,#44913a 0,#86bd50 100%);
    background: -webkit-linear-gradient(180deg,#44913a,#86bd50);
    background: linear-gradient(180deg,#44913a,#86bd50);
    min-height: 75px;
    padding: 33px 90px
}

.content_type_curso_SANPTprovisional #actividad .content .slide-concatenate .header .title {
    display: none
}

.content_type_curso_SANPTprovisional #actividad .content .header .title h3 {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: left;
    font-size: 26px;
    font-weight: 700
}

.content_type_curso_SANPTprovisional #actividad .content .header .title h3 .ficha {
    float: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 2
}

.content_type_curso_SANPTprovisional #actividad .slide_content_type_1 .pregunta .texto_curso,.content_type_curso_SANPTprovisional #actividad .texto_curso,.html-book {
    font-size: 1.8rem
}

.texto_curso p:last-of-type {
    margin-bottom: 15px
}

.content_type_curso_SANPTprovisional #actividad .texto_curso li,.content_type_curso_SANPTprovisional #actividad .workspace ul li li {
    margin-bottom: 10px
}

#actividad .class_slide {
    padding: 40px 0 0
}

#actividad .class_slide:last-of-type {
    padding-bottom: 0
}

#actividad .slide-concatenate:last-of-type .class_slide {
    padding-bottom: 100px
}

.content_type_curso_SANPTprovisional .slide_main {
    padding: 0 97px
}

@media screen and (max-width: 480px) {
    .content_type_curso_SANPTprovisional .slide_main {
        padding:0 35px
    }
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container,.content_type_curso_SANPTprovisional .slide_main input {
    color: #555;
    background: rgba(71,147,59,.13)
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container:focus,.content_type_curso_SANPTprovisional .slide_main input:focus {
    outline-width: 0;
    outline-style: none;
    border: 2px solid #46923a
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container,.content_type_curso_SANPTprovisional .slide_main input[disabled],.content_type_curso_SANPTprovisional .slide_main input[readonly],fieldset[disabled] .content_type_curso_SANPTprovisional .slide_main input {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container input[disabled],.content_type_curso_SANPTprovisional .slide_main .img-input-container input[readonly] {
    opacity: 0;
    filter: alpha(opacity=0)
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container.respuesta_ok,.content_type_curso_SANPTprovisional .slide_main input.respuesta_ok {
    border-color: #57e900;
    background: #d1f3bd
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container.respuesta_ko,.content_type_curso_SANPTprovisional .slide_main input.respuesta_ko {
    border-color: #ff3626;
    background: #ffa49d
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container.solucion,.content_type_curso_SANPTprovisional .slide_main input.solucion {
    border-color: #00bdff;
    background: #b6ecff
}

.zoom_flag_img {
    top: 15px;
    right: 15px
}

.navbar-bottom {
    background: #13270e;
    padding-left: 100px;
    padding-right: 100px
}

.logo-publisher {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 21px;
    width: 178px;
    height: 30px;
    background-position: 50%;
    background: url(imagenes-SANPTprovisional/Santillana-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain
}

@media only screen and (max-width: 640px) {
    .navbar-bottom {
        padding-left:40px;
        padding-right: 40px
    }

    .logo-publisher {
        width: 45px;
        background: url(imagenes-SANPTprovisional/logo-santillana-movil.png);
        background-size: 25px;
        background-repeat: no-repeat;
        left: 10px
    }
}

.slider-indicators {
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap
}

.edit .slider-indicators {
    white-space: normal
}

.edit .slider-indicators li,.slider-indicators li {
    background-color: #fff;
    color: #005840
}

.edit .slider-indicators .active,.edit .slider-indicators .concat.active,.slider-indicators .active,.slider-indicators li:hover {
    background-color: #85bc50;
    color: #fff
}

.edit .slider-indicators .concat.active:before {
    background-color: #85bc50
}

#bottom-navigator {
    overflow: hidden;
    position: relative
}

#bottom-navigator .slider-indicators {
    margin-left: auto;
    margin-right: auto
}

#bottom-navigator .slider-indicators:after {
    content: "";
    display: table;
    clear: both
}

#bottom-navigator li {
    width: 18px;
    height: 18px;
    margin: 2px 5px;
    background: #fff;
    color: transparent;
    line-height: 2.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-indent: 0
}

#bottom-navigator li:hover {
    background: #d8f3c3;
    color: transparent
}

#bottom-navigator li.active {
    background: #85bc50;
    color: transparent
}

#bottom-navigator.show_left:before {
    content: "\F053";
    left: 0;
    z-index: 100;
    text-align: left;
    background: -webkit-gradient(linear,left top,right top,from(#132e4c),to(transparent));
    background: -webkit-linear-gradient(left,#132e4c,transparent);
    background: -moz-linear-gradient(left,#132e4c,transparent);
    background: -o-linear-gradient(left,#132e4c,transparent);
    background: linear-gradient(90deg,#132e4c,transparent)
}

#bottom-navigator.show_left:before,#bottom-navigator.show_right:after {
    font-family: FontAwesome;
    position: absolute;
    color: #fff;
    top: 10px;
    height: 35px;
    line-height: 5.4rem;
    width: 20px
}

#bottom-navigator.show_right:after {
    content: "\F054";
    right: 0;
    text-align: right;
    background: -webkit-gradient(linear,right top,left top,from(#132e4c),to(transparent));
    background: -webkit-linear-gradient(right,#132e4c,transparent);
    background: -moz-linear-gradient(right,#132e4c,transparent);
    background: -o-linear-gradient(right,#132e4c,transparent);
    background: linear-gradient(270deg,#132e4c,transparent)
}

.bck-title1 {
    font-size: 35px;
    background: initial;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    font-family: "Source Sans Pro", sans-serif;
    line-height: inherit;
    letter-spacing: 0;
    padding: inherit;
}

.bck-title1,.bck-title2 {
    font-weight: 700;
    color: #44913a;
    margin: 20px 0;
    display: block;
}

.bck-title2 {
    display: block;
    font-family: Garamond,serif;
    font-size: 36px;
    letter-spacing: 1px
}

.bck-title3 {
    font-size: 35px;
    border: 2px solid #44913a;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 20px;
    color: #44913a;
    margin: 20px 0
}

.bck-title4 {
    background: #44913a;
    color: #fff;
    padding: 10px 0;
    font-weight: 700
}

.bck-title4,.bck-title5 {
    font-size: 35px;
    text-align: center;
    margin: 20px 0
}

.bck-title5 {
    padding: 5px;
    border-bottom: 2px solid #44913a;
    border-color: #44913a currentcolor;
    border-top: 2px solid #44913a;
    color: #44913a
}

.bck-box {
    margin: 20px 0;
    padding: 10px 20px;
    border:0;
}

.bck-box .bck-content p:last-child,.bck-box p:last-of-type {
    margin-bottom: 0
}

.bck-box1 .bck-title {
    background: #44913a;
    color: #fff;
    font-weight: 700;
    width: fit-content;
    width: -moz-fit-content;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 6px 33px;
    font-size: 40px;
    margin: -41px auto 10px
}

.bck-box.bck-box1 {
    border: 3px solid #44913a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.bck-box.bck-box2 {
    padding: 0;
    border: 3px solid #44913a;
    margin-bottom: 24px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: left
}

.bck-box.bck-box2 .bck-title {
    background: #44913a;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px
}

.bck-box.bck-box2 .bck-content {
    padding: 10px 20px;
    background: #fff
}

.bck-box.bck-box3 {
    background: rgba(68,145,58,.4);
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.bck-box.bck-box3 .bck-content {
    margin-top: 0
}

.bck-box.bck-box3 .bck-title {
    background: #44913a;
    width: fit-content;
    width: -moz-fit-content;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    margin: -10px auto 10px auto;
    top: inherit;
    left: inherit;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    display: inherit;
}

.bck-box4 .bck-title {
    color: #ca041a;
    font-weight: 700;
    margin: 10px 0;
    font-size: 24px
}

.bck-box.bck-box4 {
    margin: 10px;
    border: 3px solid #ca041a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(202,4,26,.38);
    padding: 10px 20px
}

.bck-box5 .bck-title {
    color: #ecb700;
    font-weight: 700;
    margin: 10px 0;
    font-size: 24px
}

.bck-box.bck-box5 {
    margin: 10px;
    border: 3px solid #ecb700;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,216,74,.596);
    padding: 10px 20px
}

#actividad .info-button {
    background: #44913a;
    color: #fff;
    cursor: pointer
}

.info-template.shown {
    width: 150px;
    background: #fff;
    border: 2px solid #44913a;
    border-right: 0
}

.info-template .info-title {
    color: #44913a
}

.info-popover .popover-title:before,.info-template .info-icon,.popover-template .popover-title:before {
    display: none
}

.info-popover .popover-title,.popover-template .popover-title {
    background: #fff;
    color: #44913a;
    font-weight: 700;
    padding-left: 14px
}

.popover-container {
    border: 3px solid #44913a
}

.cke_contents ul li,.texto_curso ul li,.workspace ul li ul li {
    padding-left: 30px
}

.cke_contents .bck-ol,.content .bck-ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: bck-li-counter
}

.cke_contents .bck-ol li,.content .bck-ol li {
    list-style-type: none;
    padding-left: 35px;
    margin-bottom: 16px;
    counter-increment: bck-li-counter;
    position: relative;
    line-height: 1.1rem;
    margin: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.cke_contents .bck-ol li:before, .content .bck-ol li:before {
    content: counter(bck-li-counter);
    position: absolute;
    top: -1px;
    left: -2px;
    display: block;
    width: 28px;
    height: 28px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    line-height: initial;
}

.cke_contents .bck-ol1 li:before,.content .bck-ol1 li:before {
    background: #44913a
}

.cke_contents .bck-ol2 li:before,.content .bck-ol2 li:before {
    background: #338dba
}

.cke_contents .bck-ol3 li:before,.content .bck-ol3 li:before {
    background: #dc4739
}

.cke_contents .bck-ol4 li:before,.content .bck-ol4 li:before {
    background: #5ebdc4
}

.cke_contents .bck-ol5 li:before,.content .bck-ol5 li:before {
    background: #ed7e33
}

.cke_contents .bck-ol6 li:before,.content .bck-ol6 li:before {
    background: #ecb700
}

.cke_contents .bck-ol7 li:before,.content .bck-ol7 li:before {
    content: counter(bck-li-counter,lower-alpha) ")";
    top: 0;
    left: -5px;
    width: 28px;
    height: 20px;
    background: none;
    color: #44913a;
    line-height: 2rem
}

.cke_contents .bck-ol8 li:before,.content .bck-ol8 li:before {
    content: counter(bck-li-counter,lower-alpha) ")";
    top: 0;
    left: -5px;
    width: 28px;
    height: 20px;
    background: none;
    color: #d62927;
    line-height: 2rem
}

.cke_contents .bck-ol9 li:before,.content .bck-ol9 li:before {
    content: counter(bck-li-counter,lower-alpha) ")";
    top: 0;
    left: -5px;
    width: 28px;
    height: 20px;
    background: none;
    color: #ecb700;
    line-height: 2rem
}

.cke_contents ul li:before,.texto_curso ul li:before,.workspace ul li ul li:before {
    width: 8px;
    height: 8px;
    background-color: #414141;
    margin-top: 9px
}

.cke_contents .bck-ul1 li:before,.texto_curso .bck-ul1 li:before,.workspace ul li .bck-ul1 li:before {
    background-color: #44913a
}

.bck-enfasis-1 {
    color: #44913a;
    font-weight: 700
}

.bck-enfasis-2 {
    color: #338dba;
    font-weight: 700
}

.bck-enfasis-3 {
    color: #dc4739;
    font-weight: 700
}

.bck-enfasis-4 {
    color: #5ebdc4;
    font-weight: 700
}

.bck-enfasis-5 {
    color: #ed7e33;
    font-weight: 700
}

.bck-enfasis-6 {
    color: #ecb700;
    font-weight: 700
}

.bck-enfasis-7 {
    background: #44913a;
    padding: 8px;
    color: #fff
}

.bck-enfasis-8 {
    background: #fff;
    padding: 8px;
    -webkit-box-shadow: 1px 5px 7px 0 rgba(0,0,0,.32);
    -moz-box-shadow: 1px 5px 7px 0 rgba(0,0,0,.32);
    box-shadow: 1px 5px 7px 0 rgba(0,0,0,.32)
}

.bck-enfasis-9 {
    border-bottom: 2px solid
}

.bck-dropdown-button {
    background: #44913a;
    background: -moz-linear-gradient(180deg,#44913a 0,#86bd50 100%);
    background: -webkit-linear-gradient(180deg,#44913a,#86bd50);
    background: linear-gradient(180deg,#44913a,#86bd50);
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    width: fit-content;
    padding: 8px 92px 0 16px;
    font-size: 18px
}

.bck-dropdown-icon>.fa {
    display: inline-block;
    border: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7px;
    width: 100%;
    height: 100%;
    text-align: center
}

.bck-dropdown-content {
    overflow-y: auto;
    display: none;
    max-height: 300px;
    padding: 10px;
    background-color: #fff;
    border: 4px solid #86bd50
}

.bck-dropdown-titulo {
    font-size: 18px
}

body:not(.edit) .bck-flipbox-face.back,body:not(.edit) .bck-flipbox-face.front {
    border-color: #4d973d
}

body:not(.edit) .front .bck-flipbox-section,body:not(.edit) .front .bck-flipbox-title {
    color: #81ba4f
}

body:not(.edit) .bck-flipbox-face.back {
    background-color: #4d973d
}

.content_type_curso_SANPTprovisional .bck-table td,.content_type_curso_SANPTprovisional th {
    padding: 8px
}

.content_type_curso_SANPTprovisional .bck-table.bck-table-1 td,.content_type_curso_SANPTprovisional .bck-table.bck-table-1 th {
    border: 2px solid #5ba042
}

.content_type_curso_SANPTprovisional .bck-table.bck-table-2 td,.content_type_curso_SANPTprovisional .bck-table.bck-table-2 th {
    border: 2px solid #338dba
}

.content_type_curso_SANPTprovisional .bck-table.bck-table-3 td,.content_type_curso_SANPTprovisional .bck-table.bck-table-3 th {
    border: 2px solid #ecb700
}

.content_type_curso_SANPTprovisional .bck-table.bck-table-4 td,.content_type_curso_SANPTprovisional .bck-table.bck-table-4 th {
    border: 2px solid #ed7e33
}

.content_type_curso_SANPTprovisional .bck-table.bck-table-5 td,.content_type_curso_SANPTprovisional .bck-table.bck-table-5 th {
    border: 2px solid #5ebdc4
}

.content_type_curso_SANPTprovisional .bck-table.bck-table-6 td,.content_type_curso_SANPTprovisional .bck-table.bck-table-6 th {
    border: 2px solid #dc4739
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) td {
    background-color: initial;
    border: 2px solid #000
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-1 {
    background: #5ba042;
    color: #fff
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-2 {
    background: rgba(91,160,66,.41)
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-3 {
    background: #338dba;
    color: #fff
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-4 {
    background: rgba(51,141,186,.45)
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-5 {
    background: #ecb700;
    color: #fff
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-6 {
    background: rgba(236,183,0,.35)
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-7 {
    background: #ed7e33;
    color: #fff
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-8 {
    background: rgba(237,126,51,.33)
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-9 {
    background: #5ebdc4;
    color: #fff
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-10 {
    background: rgba(103,200,207,.35)
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-11 {
    background: #dc4739;
    color: #fff
}

.content_type_curso_SANPTprovisional table:not(.rf-tablegrid) .bck-td-12 {
    background: rgba(220,71,57,.43)
}

#actividad a {
    text-decoration: underline
}

#actividad a:active,#actividad a:focus,#actividad a:hover {
    color: #5ba042
}

.item-container .icon:before {
    content: "";
    background-repeat: no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 50%;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 54px;
    margin-top: -16px
}

#actividad .player.audio,#actividad .player.video,#help-panel-content .player,#remote-alert-modal-rich .player {
    background-image: url(../../../images/shared/multimedia-icons.png);
    /* background-position:25px 0; */
    background-color: #44913a;
}

#actividad .player:hover,#help-panel-content .player:hover,#remote-alert-modal-rich .player:hover {
    background-color: #0b0
}

.bck-file-label,.bck-sub-label {
    background: #dfdfdf;
}

.bck-file-attach span {
    vertical-align: middle
}

.content_type_curso_SANPTprovisional .slide_main .fill-text .img-input-container {
    display: none
}

#actividad .workspace {
    margin-left: 0
}

img.Wirisformula {
    margin-top: -20px
}

#actividad .slide-concatenate .class_slide {
    padding-bottom: 20px;
    padding-top: 0
}

.btn-danger,.btn-danger[disabled] {
    color: #fc4237;
    background-color: #fff;
    border-color: #fc4237;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #db3228;
    border-color: transparent;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

.btn-primary,.btn-primary.disabled,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled]:focus {
    color: #3ac62a;
    background-color: #fff;
    border-color: #3ac62a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

.btn-primary,.btn-primary.disabled,.btn-primary.disabled:focus,.btn-primary.disabled:hover {
    opacity: 1
}

#actividad .content .review .attemps span {
    color: #fff;
    background-color: #4b4b4b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #4b4b4b
}

.btn-next,.btn-next.disabled,.btn-next[disabled],.btn-solution,.btn-solution.disabled,.btn-solution[disabled] {
    color: #00bdff;
    background-color: #fff;
    border-color: #00bdff;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

.btn-next:active,.btn-next:focus,.btn-next:hover,.btn-solution:active,.btn-solution:focus,.btn-solution:hover,.open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #00bdff;
    border-color: transparent;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

.rf-tgrid {
    height: 26px;
    width: 26px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 24px;
    border: 1px solid #d8d8d8;
    vertical-align: middle;
    text-align: center;
    padding: 10px
}

.checkbox-option label.filter-label,.checkbox-option label.filter-label-append,.radio-option label.filter-label {
    -moz-user-select: none;
    font-size: 18px;
    font-weight: 400;
    margin-top: 9px
}

.workspace.true-false {
    margin-left: 28px!important
}

#actividad .workspace.drag-and-drop {
    position: relative;
    margin-left: 28px
}

#actividad .workspace.multiple-choice .opcion.respuesta_checked {
    background-color: rgba(68,145,58,.24)
}

#actividad .workspace.multiple-choice .opcion,#actividad .workspace.ordenar .js-rank-item {
    background: #fff;
    border: none;
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    padding: 11px;
    -webkit-box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    -moz-box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17)
}

#actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: rgba(68,145,58,.24);
    transform: scale(1.1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s
}

.shortanswer-container .preview:focus,.shortanswer-container input:focus,.shortanswer-container textarea:focus {
    -webkit-box-shadow: 0 0 2px #3ac62a;
    -moz-box-shadow: 0 0 2px #3ac62a;
    box-shadow: 0 0 2px #44913a;
    border-color: #44913a
}

body.content_type_curso_SANPTprovisional #actividad .content .fillblanks-draggable-wrapper .response .bck-i-fullscreen,body.content_type_curso_SANPTprovisional #actividad .content .fillblanks-draggable .img-input-container.imgFilled img {
    width: auto;
    height: 100px!important;
    padding: 0
}

.fillblanks-draggable-wrapper .response {
    border: 0 solid #d8d8d8;
    background: #c1e5f7
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper,.workspace.fillblanks.frame.fill-text {
    padding: 0
}

.fillblanks-draggable-wrapper .response:hover {
    background: rgba(68,145,58,.24)
}

.fillblanks-draggable-wrapper .response,.fillblanks-draggable-wrapper .response:hover {
    transition: background .2s;
    -webkit-transition: background .2s;
    -moz-transition: background .2s
}

.fillblanks-draggable-wrapper .response {
    background: #fff;
    -webkit-box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    -moz-box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17)
}

.content_type_curso_SANPTprovisional .slide_main .img-input-container,.content_type_curso_SANPTprovisional .slide_main input[disabled],.content_type_curso_SANPTprovisional .slide_main input[readonly],fieldset[disabled] .content_type_curso_SANPTprovisional .slide_main input {
    background-color: #fff
}

#actividad .workspace.ordenar .js-rank-item:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(68,145,58,.24)
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px
}

#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok) {
    padding: 0;
    -webkit-box-shadow: 1px 5px 7px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 1px 5px 7px 0 rgba(0,0,0,.17);
    box-shadow: 1px 5px 7px 0 rgba(0,0,0,.17);
    border: 0;
    margin: 10px 0
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0 solid #d8d8d8
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #10a0c6;
    border: 2px solid #44913a;
    padding-top: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

#actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: rgba(68,145,58,.24);
    padding: 3px
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    background: #fff;
    width: fit-content;
    width: -moz-fit-content;
    -webkit-box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    -moz-box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    box-shadow: -2px 1px 7px 0 rgba(0,0,0,.17);
    padding: 0
}

#actividad .workspace.clasificar .clasificar_lista .respuesta_over {
    background: rgba(68,145,58,.24);
    width: fit-content;
    width: -moz-fit-content
}

.unittag_santillanaportugalmates .bck-title1,.unittag_santillanaportugalmates .bck-title2 {
    color: #338dba
}

.unittag_santillanaportugalmates .bck-title3 {
    border-color: #338dba;
    color: #338dba
}

.unittag_santillanaportugalmates .bck-title4 {
    background: #338dba
}

.unittag_santillanaportugalmates .bck-title5 {
    border-color: #338dba;
    color: #338dba
}

.unittag_santillanaportugalmates .bck-box1 .bck-title {
    background: #338dba
}

.unittag_santillanaportugalmates .bck-box.bck-box1,.unittag_santillanaportugalmates .bck-box.bck-box2 {
    border-color: #338dba
}

.unittag_santillanaportugalmates .bck-box.bck-box2 .bck-title {
    background: #338dba
}

.unittag_santillanaportugalmates .bck-box.bck-box3 {
    background: rgba(51,141,186,.4)
}

.unittag_santillanaportugalmates .bck-box.bck-box3 .bck-title {
    background: #338dba
}

.unittag_santillanaportugalmates .bck-enfasis-7 {
    background: #63acd9
}

.unittag_santillanaportugalmates .cke_contents .bck-ol7 li:before,.unittag_santillanaportugalmates .content .bck-ol7 li:before {
    color: #338dba
}

.unittag_santillanaportugalmates .cke_contents .bck-ul1 li:before,.unittag_santillanaportugalmates .texto_curso .bck-ul1 li:before,.unittag_santillanaportugalmates .workspace ul li .bck-ul1 li:before {
    background-color: #338dba
}

.unittag_santillanaportugalmates #actividad .info-button {
    background: #338dba
}

.unittag_santillanaportugalmates .info-template.shown {
    border: 2px solid #338dba;
    border-right: 0
}

.unittag_santillanaportugalmates .info-popover .popover-title,.unittag_santillanaportugalmates .info-template .info-title,.unittag_santillanaportugalmates .popover-template .popover-title {
    color: #338dba
}

.unittag_santillanaportugalmates .popover-container {
    border: 3px solid #338dba
}

.unittag_santillanaportugalmates .bck-dropdown-button {
    background: #419bd1;
    background: -moz-linear-gradient(180deg,#419bd1 0,#8abee2 100%);
    background: -webkit-linear-gradient(180deg,#419bd1,#8abee2);
    background: linear-gradient(180deg,#419bd1,#8abee2)
}

.unittag_santillanaportugalmates .bck-dropdown-content {
    border-color: #8abee2
}

body:not(.edit).unittag_santillanaportugalmates .bck-flipbox-face.back,body:not(.edit).unittag_santillanaportugalmates .bck-flipbox-face.front {
    border-color: #63acd9
}

body:not(.edit).unittag_santillanaportugalmates .front .bck-flipbox-section,body:not(.edit).unittag_santillanaportugalmates .front .bck-flipbox-title {
    color: #63acd9
}

.unittag_santillanaportugalmates #actividad .player.audio,.unittag_santillanaportugalmates #actividad .player.video,.unittag_santillanaportugalmates #help-panel-content .player,.unittag_santillanaportugalmates #remote-alert-modal-rich .player,body:not(.edit).unittag_santillanaportugalmates .bck-flipbox-face.back {
    background-color: #63acd9
}

.unittag_santillanaportugalmates #actividad .player:hover,.unittag_santillanaportugalmates #help-panel-content .player:hover,.unittag_santillanaportugalmates #remote-alert-modal-rich .player:hover {
    background-color: #91c9ec
}

.unittag_santillanaportugalmates a:active,.unittag_santillanaportugalmates a:focus,.unittag_santillanaportugalmates a:hover {
    color: #338dba
}

.unittag_santillanaportugalmates.content_type_curso_SANPTprovisional #actividad .content .header .title {
    background: #419bd1;
    background: -moz-linear-gradient(180deg,#419bd1 0,#8abee2 100%);
    background: -webkit-linear-gradient(180deg,#419bd1,#8abee2);
    background: linear-gradient(180deg,#419bd1,#8abee2)
}

.unittag_santillanaportugalmates .navbar-bottom {
    background: #132e4c
}

.unittag_santillanaportugalmates #bottom-navigator li:hover {
    background: #8ecee0;
    color: transparent
}

.unittag_santillanaportugalmates #bottom-navigator li.active {
    background: #007fa3;
    color: transparent
}

.unittag_santillanaportugalmates.content_type_curso_SANPTprovisional .slide_main .img-input-container,.unittag_santillanaportugalmates.content_type_curso_SANPTprovisional .slide_main input {
    background: rgba(59,119,147,.13)
}

.unittag_santillanaportugalmates.content_type_curso_SANPTprovisional .slide_main .img-input-container:focus,.unittag_santillanaportugalmates.content_type_curso_SANPTprovisional .slide_main input:focus {
    border: 2px solid #63acd9
}

.unittag_santillanaportugalmates #actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: rgba(23,143,245,.11)
}

.unittag_santillanaportugalmates #actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: rgba(23,143,245,.11);
    background-color: rgba(23,143,245,.11);
    background-color: rgba(99,172,217,.24)
}

.unittag_santillanaportugalmates #actividad .workspace.ordenar .js-rank-item:hover {
    background-color: rgba(99,172,217,.24)
}

.shortanswer-container .preview:focus,.shortanswer-container input:focus,.unittag_santillanaportugalmates .shortanswer-container textarea:focus {
    -webkit-box-shadow: 0 0 2px #63acd9;
    -moz-box-shadow: 0 0 2px #63acd9;
    box-shadow: 0 0 2px #63acd9;
    border-color: #63acd9
}

.unittag_santillanaportugalmates .fillblanks-draggable-wrapper .response:hover {
    background: rgba(99,172,217,.24)
}

.unittag_santillanaportugalmates .checkbox-option label.filter-label:before,.unittag_santillanaportugalmates .radio-option label.filter-label:before,.unittag_santillanaportugalmates .slides_averages #cont_checkEvaluation label:before,.unittag_santillanaportugalmates .slides_averages #cont_checkSelfCorrect label:before {
    filter: hue-rotate(118deg)
}

.unittag_santillanaportugalmates #actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #63acd9
}

.unittag_santillanaportugalmates #actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: rgba(23,143,245,.11)
}

.unittag_santillanaportugalmates #actividad .workspace.clasificar .clasificar_lista .respuesta_over {
    background: rgba(23,143,245,.11)
}

.unittag_santillanaportugalportugues .bck-title1,.unittag_santillanaportugalportugues .bck-title2 {
    color: #dc4739
}

.unittag_santillanaportugalportugues .bck-title3 {
    border-color: #dc4739;
    color: #dc4739
}

.unittag_santillanaportugalportugues .bck-title4 {
    background: #dc4739
}

.unittag_santillanaportugalportugues .bck-title5 {
    border-color: #dc4739;
    color: #dc4739
}

.unittag_santillanaportugalportugues .bck-box1 .bck-title {
    background: #dc4739
}

.unittag_santillanaportugalportugues .bck-box.bck-box1,.unittag_santillanaportugalportugues .bck-box.bck-box2 {
    border-color: #dc4739
}

.unittag_santillanaportugalportugues .bck-box.bck-box2 .bck-title {
    background: #dc4739
}

.unittag_santillanaportugalportugues .bck-box.bck-box3 {
    background: rgba(220,71,57,.4)
}

.unittag_santillanaportugalportugues .bck-box.bck-box3 .bck-title {
    background: #dc4739
}

.unittag_santillanaportugalportugues .bck-enfasis-7 {
    background: #cf4639
}

.unittag_santillanaportugalportugues .cke_contents .bck-ol7 li:before,.unittag_santillanaportugalportugues .content .bck-ol7 li:before {
    color: #dc4739
}

.unittag_santillanaportugalportugues .cke_contents .bck-ul1 li:before,.unittag_santillanaportugalportugues .texto_curso .bck-ul1 li:before,.unittag_santillanaportugalportugues .workspace ul li .bck-ul1 li:before {
    background-color: #dc4739
}

.unittag_santillanaportugalportugues #actividad .info-button {
    background: #dc4739
}

.unittag_santillanaportugalportugues .info-template.shown {
    border: 2px solid #dc4739;
    border-right: 0
}

.unittag_santillanaportugalportugues .info-popover .popover-title,.unittag_santillanaportugalportugues .info-template .info-title,.unittag_santillanaportugalportugues .popover-template .popover-title {
    color: #dc4739
}

.unittag_santillanaportugalportugues .popover-container {
    border: 3px solid #dc4739
}

.unittag_santillanaportugalportugues .bck-dropdown-button {
    background: #dc4739;
    background: -moz-linear-gradient(180deg,#dc4739 0,#f47569 100%);
    background: -webkit-linear-gradient(180deg,#dc4739,#f47569);
    background: linear-gradient(180deg,#dc4739,#f47569)
}

.unittag_santillanaportugalportugues .bck-dropdown-content {
    border-color: #f47569
}

body:not(.edit).unittag_santillanaportugalportugues .bck-flipbox-face.back,body:not(.edit).unittag_santillanaportugalportugues .bck-flipbox-face.front {
    border-color: #e76a5e
}

body:not(.edit).unittag_santillanaportugalportugues .front .bck-flipbox-section,body:not(.edit).unittag_santillanaportugalportugues .front .bck-flipbox-title {
    color: #e76a5e
}

.unittag_santillanaportugalportugues #actividad .player.audio,.unittag_santillanaportugalportugues #actividad .player.video,.unittag_santillanaportugalportugues #help-panel-content .player,.unittag_santillanaportugalportugues #remote-alert-modal-rich .player,body:not(.edit).unittag_santillanaportugalportugues .bck-flipbox-face.back {
    background-color: #e76a5e
}

.unittag_santillanaportugalportugues #actividad .player:hover,.unittag_santillanaportugalportugues #help-panel-content .player:hover,.unittag_santillanaportugalportugues #remote-alert-modal-rich .player:hover {
    background-color: #f68378
}

.unittag_santillanaportugalportugues a:active,.unittag_santillanaportugalportugues a:focus,.unittag_santillanaportugalportugues a:hover {
    color: #e76a5e
}

.unittag_santillanaportugalportugues.content_type_curso_SANPTprovisional #actividad .content .header .title {
    background: #dc4739;
    background: -moz-linear-gradient(180deg,#dc4739 0,#f47569 100%);
    background: -webkit-linear-gradient(180deg,#dc4739,#f47569);
    background: linear-gradient(180deg,#dc4739,#f47569)
}

.unittag_santillanaportugalportugues .navbar-bottom {
    background: #46201c
}

.unittag_santillanaportugalportugues #bottom-navigator li:hover {
    background: #f68378
}

.unittag_santillanaportugalportugues #bottom-navigator li.active {
    background: #e76a5e
}

.unittag_santillanaportugalportugues.content_type_curso_SANPTprovisional .slide_main .img-input-container,.unittag_santillanaportugalportugues.content_type_curso_SANPTprovisional .slide_main input {
    background: rgba(221,73,59,.2)
}

.unittag_santillanaportugalportugues.content_type_curso_SANPTprovisional .slide_main .img-input-container:focus,.unittag_santillanaportugalportugues.content_type_curso_SANPTprovisional .slide_main input:focus {
    border: 2px solid #e76a5e
}

.unittag_santillanaportugalportugues #actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: rgba(231,106,94,.28)
}

.unittag_santillanaportugalportugues #actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: rgba(231,106,94,.28);
    background-color: rgba(231,106,94,.28);
    background-color: rgba(231,106,94,.24)
}

.unittag_santillanaportugalportugues #actividad .workspace.ordenar .js-rank-item:hover {
    background-color: rgba(231,106,94,.24)
}

.shortanswer-container .preview:focus,.shortanswer-container input:focus,.unittag_santillanaportugalportugues .shortanswer-container textarea:focus {
    -webkit-box-shadow: 0 0 2px #e76a5e;
    -moz-box-shadow: 0 0 2px #e76a5e;
    box-shadow: 0 0 2px #e76a5e;
    border-color: #e76a5e
}

.unittag_santillanaportugalportugues .fillblanks-draggable-wrapper .response:hover {
    background: rgba(231,106,94,.24)
}

.unittag_santillanaportugalportugues .checkbox-option label.filter-label:before,.unittag_santillanaportugalportugues .radio-option label.filter-label:before,.unittag_santillanaportugalportugues .slides_averages #cont_checkEvaluation label:before,.unittag_santillanaportugalportugues .slides_averages #cont_checkSelfCorrect label:before {
    filter: hue-rotate(633deg)
}

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #dc4739;
    padding-top: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: rgba(231,106,94,.28);
    padding: 3px
}

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_lista .respuesta_over {
    background: rgba(231,106,94,.28)
}

.unittag_santillanaportugalfyq .bck-title1,.unittag_santillanaportugalfyq .bck-title2 {
    color: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-title3 {
    border-color: #5ebdc0;
    color: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-title4 {
    background: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-title5 {
    border-color: #5ebdc0;
    color: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-box1 .bck-title {
    background: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-box.bck-box1,.unittag_santillanaportugalfyq .bck-box.bck-box2 {
    border-color: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-box.bck-box2 .bck-title {
    background: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-box.bck-box3 {
    background: rgba(94,189,192,.4)
}

.unittag_santillanaportugalfyq .bck-box.bck-box3 .bck-title {
    background: #5ebdc0
}

.unittag_santillanaportugalfyq .bck-enfasis-7 {
    background: #5ebdc4
}

.unittag_santillanaportugalfyq .cke_contents .bck-ol7 li:before,.unittag_santillanaportugalfyq .content .bck-ol7 li:before {
    color: #5ebdc0
}

.unittag_santillanaportugalfyq .cke_contents .bck-ul1 li:before,.unittag_santillanaportugalfyq .texto_curso .bck-ul1 li:before,.unittag_santillanaportugalfyq .workspace ul li .bck-ul1 li:before {
    background-color: #5ebdc0
}

.unittag_santillanaportugalfyq #actividad .info-button {
    background: #5ebdc0
}

.unittag_santillanaportugalfyq .info-template.shown {
    border: 2px solid #5ebdc0;
    border-right: 0
}

.unittag_santillanaportugalfyq .info-popover .popover-title,.unittag_santillanaportugalfyq .info-template .info-title,.unittag_santillanaportugalfyq .popover-template .popover-title {
    color: #5ebdc0
}

.unittag_santillanaportugalfyq .popover-container {
    border: 3px solid #5ebdc0
}

.unittag_santillanaportugalfyq .bck-dropdown-button {
    background: #5ebdc0;
    background: -moz-linear-gradient(180deg,#5ebdc0 0,#91e0e6 100%);
    background: -webkit-linear-gradient(180deg,#5ebdc0,#91e0e6);
    background: linear-gradient(180deg,#5ebdc0,#91e0e6)
}

.unittag_santillanaportugalfyq .bck-dropdown-content {
    border-color: #91e0e6
}

body:not(.edit).unittag_santillanaportugalfyq .bck-flipbox-face.back,body:not(.edit).unittag_santillanaportugalfyq .bck-flipbox-face.front {
    border-color: #5ebdc0
}

body:not(.edit).unittag_santillanaportugalfyq .front .bck-flipbox-section,body:not(.edit).unittag_santillanaportugalfyq .front .bck-flipbox-title {
    color: #5ebdc0
}

.unittag_santillanaportugalfyq #actividad .player.audio,.unittag_santillanaportugalfyq #actividad .player.video,.unittag_santillanaportugalfyq #help-panel-content .player,.unittag_santillanaportugalfyq #remote-alert-modal-rich .player,body:not(.edit).unittag_santillanaportugalfyq .bck-flipbox-face.back {
    background-color: #5ebdc0
}

.unittag_santillanaportugalfyq #actividad .player:hover,.unittag_santillanaportugalfyq #help-panel-content .player:hover,.unittag_santillanaportugalfyq #remote-alert-modal-rich .player:hover {
    background-color: #91e0e6
}

.unittag_santillanaportugalfyq a:active,.unittag_santillanaportugalfyq a:focus,.unittag_santillanaportugalfyq a:hover {
    color: #5ebdc0
}

.unittag_santillanaportugalfyq.content_type_curso_SANPTprovisional #actividad .content .header .title {
    background: #5ebdc0;
    background: -moz-linear-gradient(180deg,#5ebdc0 0,#91e0e6 100%);
    background: -webkit-linear-gradient(180deg,#5ebdc0,#91e0e6);
    background: linear-gradient(180deg,#5ebdc0,#91e0e6)
}

.unittag_santillanaportugalfyq .navbar-bottom {
    background: #2a4d4e
}

.unittag_santillanaportugalfyq #bottom-navigator li:hover {
    background: #91e0e6
}

.unittag_santillanaportugalfyq #bottom-navigator li.active {
    background: #5ebdc0
}

.unittag_santillanaportugalfyq.content_type_curso_SANPTprovisional .slide_main .img-input-container,.unittag_santillanaportugalfyq.content_type_curso_SANPTprovisional .slide_main input {
    background: rgba(141,221,227,.26)
}

.unittag_santillanaportugalfyq.content_type_curso_SANPTprovisional .slide_main .img-input-container:focus,.unittag_santillanaportugalfyq.content_type_curso_SANPTprovisional .slide_main input:focus {
    border: 2px solid #5ebdc0
}

.unittag_santillanaportugalfyq #actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: rgba(94,189,192,.32)
}

.unittag_santillanaportugalfyq #actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: rgba(94,189,192,.32);
    background-color: rgba(94,189,192,.32)
}

.unittag_santillanaportugalfyq #actividad .workspace.ordenar .js-rank-item:hover {
    background-color: rgba(94,189,192,.32)
}

.shortanswer-container .preview:focus,.shortanswer-container input:focus,.unittag_santillanaportugalfyq .shortanswer-container textarea:focus {
    -webkit-box-shadow: 0 0 2px #5ebdc0;
    -moz-box-shadow: 0 0 2px #5ebdc0;
    box-shadow: 0 0 2px #5ebdc0;
    border-color: #5ebdc0
}

.unittag_santillanaportugalfyq .fillblanks-draggable-wrapper .response:hover {
    background: rgba(94,189,192,.32)
}

.unittag_santillanaportugalfyq .checkbox-option label.filter-label:before,.unittag_santillanaportugalfyq .radio-option label.filter-label:before,.unittag_santillanaportugalfyq .slides_averages #cont_checkEvaluation label:before,.unittag_santillanaportugalfyq .slides_averages #cont_checkSelfCorrect label:before {
    filter: hue-rotate(63deg)
}

.unittag_santillanaportugalfyq #actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #5ebdc0;
    padding-top: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

.unittag_santillanaportugalfyq #actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: rgba(94,189,192,.32);
    padding: 3px
}

.unittag_santillanaportugalfyq #actividad .workspace.clasificar .clasificar_lista .respuesta_over {
    background: rgba(94,189,192,.32)
}

.unittag_santillanaportugalhistoria .bck-title1,.unittag_santillanaportugalhistoria .bck-title2 {
    color: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-title3 {
    border-color: #ed7e33;
    color: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-title4 {
    background: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-title5 {
    border-color: #ed7e33;
    color: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-box1 .bck-title {
    background: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-box.bck-box1,.unittag_santillanaportugalhistoria .bck-box.bck-box2 {
    border-color: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-box.bck-box2 .bck-title {
    background: #ed7e33
}

.unittag_santillanaportugalhistoria .bck-box.bck-box3 {
    background: rgba(237,126,51,.4)
}

.unittag_santillanaportugalhistoria .bck-box.bck-box3 .bck-title,.unittag_santillanaportugalhistoria .bck-enfasis-7 {
    background: #ed7e33
}

.unittag_santillanaportugalhistoria .cke_contents .bck-ol7 li:before,.unittag_santillanaportugalhistoria .content .bck-ol7 li:before {
    color: #ed7e33
}

.unittag_santillanaportugalhistoria .cke_contents .bck-ul1 li:before,.unittag_santillanaportugalhistoria .texto_curso .bck-ul1 li:before,.unittag_santillanaportugalhistoria .workspace ul li .bck-ul1 li:before {
    background-color: #ed7e33
}

.unittag_santillanaportugalhistoria #actividad .info-button {
    background: #ed7e33
}

.unittag_santillanaportugalhistoria .info-template.shown {
    border: 2px solid #ed7e33;
    border-right: 0
}

.unittag_santillanaportugalhistoria .info-popover .popover-title,.unittag_santillanaportugalhistoria .info-template .info-title,.unittag_santillanaportugalhistoria .popover-template .popover-title {
    color: #ed7e33
}

.unittag_santillanaportugalhistoria .popover-container {
    border: 3px solid #ed7e33
}

.unittag_santillanaportugalhistoria .bck-dropdown-button {
    background: #ed7e33;
    background: -moz-linear-gradient(180deg,#ed7e33 0,#ee9652 100%);
    background: -webkit-linear-gradient(180deg,#ed7e33,#ee9652);
    background: linear-gradient(180deg,#ed7e33,#ee9652)
}

.unittag_santillanaportugalhistoria .bck-dropdown-content {
    border-color: #ee9652
}

body:not(.edit).unittag_santillanaportugalhistoria .bck-flipbox-face.back,body:not(.edit).unittag_santillanaportugalhistoria .bck-flipbox-face.front {
    border-color: #ed7e33
}

body:not(.edit).unittag_santillanaportugalhistoria .front .bck-flipbox-section,body:not(.edit).unittag_santillanaportugalhistoria .front .bck-flipbox-title {
    color: #ed7e33
}

.unittag_santillanaportugalhistoria #actividad .player.audio,.unittag_santillanaportugalhistoria #actividad .player.video,.unittag_santillanaportugalhistoria #help-panel-content .player,.unittag_santillanaportugalhistoria #remote-alert-modal-rich .player,body:not(.edit).unittag_santillanaportugalhistoria .bck-flipbox-face.back {
    background-color: #ed7e33
}

.unittag_santillanaportugalhistoria #actividad .player:hover,.unittag_santillanaportugalhistoria #help-panel-content .player:hover,.unittag_santillanaportugalhistoria #remote-alert-modal-rich .player:hover {
    background-color: #ee9652
}

.unittag_santillanaportugalhistoria a:active,.unittag_santillanaportugalhistoria a:focus,.unittag_santillanaportugalhistoria a:hover {
    color: #ed7e33
}

.unittag_santillanaportugalhistoria.content_type_curso_SANPTprovisional #actividad .content .header .title {
    background: #ed7e33;
    background: -moz-linear-gradient(180deg,#ed7e33 0,#ee9652 100%);
    background: -webkit-linear-gradient(180deg,#ed7e33,#ee9652);
    background: linear-gradient(180deg,#ed7e33,#ee9652)
}

.unittag_santillanaportugalhistoria .navbar-bottom {
    background: #614533
}

.unittag_santillanaportugalhistoria #bottom-navigator li:hover {
    background: #ee9652
}

.unittag_santillanaportugalhistoria #bottom-navigator li.active {
    background: #ed7e33
}

.unittag_santillanaportugalhistoria.content_type_curso_SANPTprovisional .slide_main .img-input-container,.unittag_santillanaportugalhistoria.content_type_curso_SANPTprovisional .slide_main input {
    background: rgba(238,150,82,.23)
}

.unittag_santillanaportugalhistoria.content_type_curso_SANPTprovisional .slide_main .img-input-container:focus,.unittag_santillanaportugalhistoria.content_type_curso_SANPTprovisional .slide_main input:focus {
    border: 2px solid #ed7e33
}

.unittag_santillanaportugalhistoria #actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: rgba(238,150,82,.26)
}

.unittag_santillanaportugalhistoria #actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: rgba(238,150,82,.26);
    background-color: rgba(238,150,82,.26)
}

.unittag_santillanaportugalhistoria #actividad .workspace.ordenar .js-rank-item:hover {
    background-color: rgba(238,150,82,.26)
}

.shortanswer-container .preview:focus,.shortanswer-container input:focus,.unittag_santillanaportugalhistoria .shortanswer-container textarea:focus {
    -webkit-box-shadow: 0 0 2px #ed7e33;
    -moz-box-shadow: 0 0 2px #ed7e33;
    box-shadow: 0 0 2px #ed7e33;
    border-color: #ed7e33
}

.unittag_santillanaportugalhistoria .fillblanks-draggable-wrapper .response:hover {
    background: rgba(237,126,51,.32)
}

.unittag_santillanaportugalhistoria .checkbox-option label.filter-label:before,.unittag_santillanaportugalhistoria .radio-option label.filter-label:before,.unittag_santillanaportugalhistoria .slides_averages #cont_checkEvaluation label:before,.unittag_santillanaportugalhistoria .slides_averages #cont_checkSelfCorrect label:before {
    filter: hue-rotate(296deg)
}

.unittag_santillanaportugalhistoria #actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #ed7e33;
    padding-top: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

.unittag_santillanaportugalhistoria #actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: rgba(238,150,82,.26);
    padding: 3px
}

.unittag_santillanaportugalhistoria #actividad .workspace.clasificar .clasificar_lista .respuesta_over {
    background: rgba(238,150,82,.26)
}

@media only screen and (min-device-width: 320px) and (max-device-width:480px) {
    .content_type_curso_SANPTprovisional #actividad .content .header .title h3 {
        padding-bottom:20px;
        min-width: 302px;
        text-align: left;
        line-height: 27px
    }

    .content_type_curso_SANPTprovisional #actividad .content .header .title h3 .ficha {
        bottom: -16px;
        position: absolute
    }

    .content_type_curso_SANPTprovisional #actividad .content .header .title {
        padding: 18px
    }

    .rf-tgrid {
        font-size: 12px;
        padding: 0
    }

    .rf-wordcontainer {
        margin-top: 8px
    }

    .bck-dropdown-button {
        padding-right: 20px
    }

    #bottom-navigator li {
        width: 13px;
        height: 13px;
        line-height: 2.5rem
    }
}

.content_type_curso_SANPTprovisional .cke_contents .bck-ol1 li:before,
.content_type_curso_SANPTprovisional .cke_contents ol li:before,
.content_type_curso_SANPTprovisional .content .bck-ol1 li:before,
.content_type_curso_SANPTprovisional .content ol li:before {
    border: initial;
    box-shadow: none
}

.cke_contents ol li:before,
.content ol li:before {
    content: inherit;
    background: initial;
    color: inherit
}

.cke_contents ol li,
 .content ol li {
    list-style: decimal;
    counter-increment: bck-li-counter;
    position: relative;
    margin-left: 19px;
    padding-left: 0;
}
